*{
    margin: 0;
    padding: 0;
}
html, body{
    overflow: hidden;
}
body{
    background-color: #061731;
    color: white;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}
.season-card{
    background-color: #92BEFF;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
}
.season-card :hover{
    background-color: #6c94cf;
    cursor: pointer;
    transform: translateY(-5px);
}
.season-card h1{
    margin: 30px auto;
    font-size: 50px;
    color: #061731;
    display: flex;
    flex-direction: row;
}
.grid{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
}
.season {
    background-color: #92BEFF;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  }  
.season img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
.season p {
    margin: 15px, 0;
    color: #061731;
    font-weight: bold;
    margin-bottom: 10px;
  }

  
  @media only screen and (max-width: 768px) {
    .season-card h1{
        font-size: 30px;
    }
    .season img {
        height: 200px;
    }
  }